<rd-header>
  <rd-header-title title="Disk Usage">
    <a data-toggle="tooltip" title="Refresh" ui-sref="disk" ui-sref-opts="{reload: true}">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </a>
    <i id="loadingViewSpinner" class="fa fa-cog fa-spin" style="margin-left: 5px;"></i>
  </rd-header-title>
  <rd-header-content>Space</rd-header-content>
</rd-header>



<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-clone" title="Images">
        <div class="pull-right">
          <input type="text" id="filter" ng-model="state.filter" placeholder="Filter..." class="form-control input-sm" />
        </div>
        <div class="pull-right">
          Items per page:
          <select ng-model="state.pagination_count" ng-change="changePaginationCount()">
            <option value="0">All</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>&nbsp;&nbsp;
        </div>
      </rd-widget-header>
      <rd-widget-body classes="no-padding">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>
                  <a ui-sref="disk" ng-click="order('Id')">
                    Id
                    <span ng-show="sortType == 'Id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'Id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
                <th>
                  <a ui-sref="disk" ng-click="order('RepoTags')">
                    Tags
                    <span ng-show="sortType == 'RepoTags' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'RepoTags' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
                <th>
                  <a ui-sref="disk" ng-click="order('VirtualSize')">
                    Size
                    <span ng-show="sortType == 'VirtualSize' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'VirtualSize' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
                <th>
                  <a ui-sref="disk" ng-click="order('Created')">
                    Created
                    <span ng-show="sortType == 'Created' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'Created' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr dir-paginate="image in (state.filteredImages = (systemData.Images | filter:state.filter | orderBy:sortType:sortReverse | itemsPerPage: state.pagination_count))">
                <td><a ui-sref="image({id: image.Id})">{{ image.Id|truncate:20}}</a></td>
                <td>
                  <span class="label label-primary image-tag" ng-repeat="tag in (image|repotags)">{{ tag }}</span>
                </td>
                <td>{{ image.VirtualSize|humansize }}</td>
                <td>{{ image.Created|getisodatefromtimestamp }}</td>
              </tr>
              <tr ng-if="!systemData.Images">
                <td colspan="5" class="text-center text-muted">Loading...</td>
              </tr>
              <tr ng-if="systemData.Images.length == 0">
                <td colspan="5" class="text-center text-muted">No images available.</td>
              </tr>
            </tbody>
          </table>
          <div ng-if="systemData.Images" class="pull-left pagination-controls">
            <dir-pagination-controls></dir-pagination-controls>
          </div>
        </div>
      </rd-widget-body>
      <rd-widget>
      </div>
    </div>


<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-clone" title="Containers">
        <div class="pull-right">
          <input type="text" id="filter1" ng-model="state.filter1" placeholder="Filter..." class="form-control input-sm" />
        </div>
        <div class="pull-right">
          Items per page:
          <select ng-model="state.pagination_count" ng-change="changePaginationCount()">
            <option value="0">All</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>&nbsp;&nbsp;
        </div>
      </rd-widget-header>
      <rd-widget-body classes="no-padding">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>
                  <a ui-sref="disk" ng-click="order('Id')">
                    Id
                    <span ng-show="sortType == 'Id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'Id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
                <th>
                  <a ui-sref="disk" ng-click="order('RepoTags')">
                    Names
                    <span ng-show="sortType == 'RepoTags' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'RepoTags' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
                <th>
                  <a ui-sref="disk" ng-click="order('VirtualSize')">
                    Size
                    <span ng-show="sortType == 'VirtualSize' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'VirtualSize' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
                <th>
                  <a ui-sref="disk" ng-click="order('Created')">
                    Created
                    <span ng-show="sortType == 'Created' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'Created' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr dir-paginate="image in (state.filteredContainers = (systemData.Containers | filter:state.filter1 | orderBy:sortType:sortReverse | itemsPerPage: state.pagination_count))">
                <td><a ui-sref="container({id: image.Id})">{{ image.Id|truncate:20}}</a></td>
                <td>
                  <span class="label label-primary image-tag" ng-repeat="tag in (image.Names)">{{ tag }}</span>
                </td>
                <td>{{ image.SizeRootFs|humansize }}</td>
                <td>{{ image.Created|getisodatefromtimestamp }}</td>
              </tr>
              <tr ng-if="!systemData.Containers">
                <td colspan="5" class="text-center text-muted">Loading...</td>
              </tr>
              <tr ng-if="systemData.Containers.length == 0">
                <td colspan="5" class="text-center text-muted">No Containers available.</td>
              </tr>
            </tbody>
          </table>
          <div ng-if="systemData.Containers" class="pull-left pagination-controls">
            <dir-pagination-controls></dir-pagination-controls>
          </div>
        </div>
      </rd-widget-body>
      <rd-widget>
      </div>
    </div>

    <div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-clone" title="Volumes">
        <div class="pull-right">
          <input type="text" id="filter2" ng-model="state.filter2" placeholder="Filter..." class="form-control input-sm" />
        </div>
        <div class="pull-right">
          Items per page:
          <select ng-model="state.pagination_count" ng-change="changePaginationCount()">
            <option value="0">All</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>&nbsp;&nbsp;
        </div>
      </rd-widget-header>
      <rd-widget-body classes="no-padding">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>
                  <a ui-sref="disk" ng-click="order('Id')">
                    Name
                    <span ng-show="sortType == 'Id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'Id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
                <th>
                  <a ui-sref="disk" ng-click="order('RepoTags')">
                    Mountpoint
                    <span ng-show="sortType == 'RepoTags' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'RepoTags' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
                <th>
                  <a ui-sref="disk" ng-click="order('VirtualSize')">
                    Size
                    <span ng-show="sortType == 'VirtualSize' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'VirtualSize' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr dir-paginate="image in (state.filteredVolumes = (systemData.Volumes | filter:state.filter2 | orderBy:sortType:sortReverse | itemsPerPage: state.pagination_count))">
                <td><a href="#/volumes/">{{ image.Name|truncate:60 }}</a></td>
                <td>{{ image.Mountpoint }}</td>
                <td>{{ image.UsageData.Size|humansize }}</td>
              </tr>
              <tr ng-if="!systemData.Volumes">
                <td colspan="5" class="text-center text-muted">Loading...</td>
              </tr>
              <tr ng-if="systemData.Volumes.length == 0">
                <td colspan="5" class="text-center text-muted">No volumes available.</td>
              </tr>
            </tbody>
          </table>
          <div ng-if="systemData.Volumes" class="pull-left pagination-controls">
            <dir-pagination-controls></dir-pagination-controls>
          </div>
        </div>
      </rd-widget-body>
      <rd-widget>
      </div>
    </div>